/* GOOGLE FONTS IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/* ASTERISK WILDCARD SELECTOR TO OVERRIDE DEFAULT STYLES ADDED BY THE BROWSER  */
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* GENERAL STYLES */

body {
    min-height: 100vh;
    display :flex;
    flex-direction: column;
    /* GENERIC PROJECT STYLES */
    color: #3a3a3a;
}
/* HEADER */

header {
    background-color: lightcoral;
}
/* MAIN CONTENT */
main {
    background-color: lightblue;
   /* THIS ALLOWS THE MAIN CONTENT TO EXPAND AND FILL THE AVAILABLE SPACE BETWEEN THE HEADER AND FOOTER, PUSHING THE FOOTER TO THE BOTTOM OF THE PAGE. */
    flex: 1 0 auto;

}
/* FOOTER */
footer {
    background-color: orange;
}