/* GOOGLE FONTS IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/* ASTERISK WILDCARD SELECTOR TO OVERRIDE DEFAULT STYLES ADDED BY THE BROWSER  */
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* GENERAL STYLES */

body {
    min-height: 100vh;
    display :flex;
    flex-direction: column;
    /* GENERIC PROJECT STYLES */
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}

h1,h2,h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {
    display: none;


}

/* HEADER */

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index:99; 
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}


header a {
    text-decoration: none;
    color: inherit;
}




#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}


#menu > li  {
    margin-bottom: 1em;
    
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
/* NAVIBAR STYLES WITH DROPDOWN TOGGLES */

nav { 
    position: absolute;
    background-color: #ffffff;
    width:100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: inherit;
    display: none;
    top:  100%;
}

/* NAV TOGGLE BUTTON */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* MAIN CONTENT */

main {
   /* THIS ALLOWS THE MAIN CONTENT TO EXPAND AND FILL THE AVAILABLE SPACE BETWEEN THE HEADER AND FOOTER, PUSHING THE FOOTER TO THE BOTTOM OF THE PAGE. */
    flex: 1 0 auto;
    margin-top: 47px;

}

/* HERO SECTION */

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
    
}

#cover-text { 
   /* FINAL RGBA SETS THE OPACITY SO IT IS SEMI-TRANSPARENT AND THE BACKGROUND IMAGE CAN BE SEEN THROUGH IT. */
    background-color: rgba(241, 109, 107, .7);  
    font-size: 130%;
    position: absolute;
    bottom: 80px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
  
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}
/* REASONS SECTION */
#reasons {
        width: 90%;
        margin: 20px auto;
    }
    
    #reasons h2 {
        margin-bottom: 20px;
        text-align: center;
        font-size :280%;
    }

    #benefits-physical>div, 
    #benefits-mental> div {
        line-height: 20px;
        margin-bottom: 20px;

    }

    #benefits p {
        padding: 0 20px;
    }


    #benefits hr {
        border-top: 1px solid #3a3a3a;
        margin: 5px 0;
    }

    #circle-cover-bg {
        background: url(../images/reasons-image.webp) no-repeat center center/cover;
        height: 90vh;
        width: 90vh;
        margin-bottom: 20px;
      /*  MAKES THE SQUARE INTO A CIRCLE  */
        border-radius: 50%;
        max-width: 300px;
        max-height: 300px;

    }


    #benefits-image {
        display:flex;
        align-items: center;
        justify-content: center;
    }

    /* MEET TIMES SECTION */
   #times {
     background: url("../images/dublin-city.webp") no-repeat center/cover;
    
     /* HANDLES REPSONSIVITY WITHOUT THE NEED FOR MEDIA QUERIES */
    display:flex;
    flex-wrap: wrap;

   }

   #times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /* THIS WILL NOT WRAP ON SCREENNS OF LESS THAN 400PX WIDE.
       EACH DIV WILL EXPAND TO FILL THE AVAILABLE SPACE ON ITS ROW */
    flex-basis: 200px;
    flex-grow: 1;
    /* CREATES A GRIDE OF MEETUP TIMES DIVS OVER THE BACKGROUND IMAGE */
    border:2px solid white;

   }
   
    #times h3 {
        /*OVERRIDE THE DARK BACKGROUND COLOR TO MAKE THE HEADING STAND OUT MORE */
        color:#fafafa;

   }

/* FOOTER */

#social-networks {
    text-align: center;
    padding : 20px 0;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    font-size: 160%;
    padding:5%;
    color: #3a3a3a;
}
/* MEDIA QUERIES: TABLETS AND LARGER (768px AND UP) */
@media screen and (min-width:768px) {
   
    /* HEADER */
   
    nav {
        display: block;
        position:relative;
        box-shadow: none;
        width:fit-content;
        padding-right: 1rem;
    }
   
    #menu {
        display: flex;

    }
   
    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* MAIN CONTENT */

    main {
        /* PUSH MAIN CONTENT BELOW TO ACCOMMODATE TO LARGER HEADER */
        margin-top: 79px;
    }  
    /* HERO */
    #cover-text {
        width:300px;
        right: 50px;
    }    

    /* REASONS SECTION */

    #benefits-physical, 
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
   #benefits-physical > div, 
    #benefits-mental > div {
      width: 75%;
        
    } 

    #benefits-mental > div {
        text-align: end;
        align-self: flex-end;
    }

}
    

    

       /* MEDIA QUERIES: DESKTOP/LAPTOPS AND LARGER (992PX AND UP) */

    @media screen and (min-width: 992px) {
        #menu a:hover{
            border-bottom: 1px solid #3a3a3a;
            
        }
        #benefits {
            display: flex;
            flex-direction: row;
        }

       #benefits > div {
        flex : 1;

       }

       #benefits-image {
        order: 0;

       }
        
       #benefits-mental {
        order : 1;
       }

       #benefits-mental > div {
        align-self: flex-start;


       }

       #benefits-physical > div {
        align-self: flex-end;
       }



    }