/* ASTERISK WILDCARD SELECTOR TO OVERRIDE DEFAULT STYLES ADDED BY THE BROWSER  */
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
/* HEADER */

header {
    background-color: lightcoral;
}
/* MAIN CONTENT */
main {
    background-color: lightblue;

}
/* FOOTER */
footer {
    background-color: orange;
}